{$contentClass}
  pre, pre[class*="language-"]
    code
      color #333
      font-size 14px

{$contentClass}
  code
    color #50596d
    background-color #f0f4fb
    padding: 0.2rem 0.3rem;

div[class*='language-']
  &::before
    color rgba(219,73,132, 0.8)
    font-weight 600