{$contentClass}
  pre, pre[class*="language-"]
    code
      color #333
      font-size 14px

{$contentClass}
  code
    color #6a46d1
    // font-size 14px
    background-color #f1ebfb

div[class*='language-']
  &::before
    color rgba(219,73,132, 0.8)
    font-weight 600

.theme-default-content
  code
    padding: 0 0.25rem