:root {
    --c-white: #fff;
    --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04),0 1px 2px rgba(0, 0, 0, 0.06);
    --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07),0 1px 4px rgba(0, 0, 0, 0.07);
    --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1),0 2px 6px rgba(0, 0, 0, 0.08);
    --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12),0 3px 9px rgba(0, 0, 0, 0.12);
    --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16),0 4px 12px rgba(0, 0, 0, 0.16);
    --c-bg: var(--c-white);
}

.home .hero {
  img {
    margin: 0.5rem auto 1rem !important;
  }

  h1 {
    font-size: 2.8rem !important;
    margin: 1.2rem auto !important;
  }
}


element.style {
    display: none;
}

@media (min-width: 768px){
  .dropdown-wrapper .nav-dropdown {
    background-color: var(--c-bg);
    box-shadow: var(--shadow-3);
    border: 0 !important;
  }
}


@media (max-width: 719px) {
  .home .feature {
    padding: 0 !important;
  }

  h1 {
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
  }

  h3, h4, h5 {
    font-weight: normal;
  }

  .header-anchor {
    display: none;
  }
}

@media (max-width: 419px) {
  // 手机端样式优化
  .theme-default-content:not(.custom) {
    padding: 0.8rem;
  }

  pre {
    font-size: 13px !important;
  }

  pre span {
    line-height: 1.6;
  }

  p {
    font-size: 16px !important;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
  }

  .sidebar-button {
    left: 0.3rem !important;
  }

  .sidebar .nav-links .nav-item {
    padding-left: 1rem !important;
  }

  .theme-container {
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  font: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;

  p {
    line-height: 1.76;
    text-align: justify;
  }
}

a {
  font-weight: 400;
}

code {
  font-weight: 400;
}

.sidebar-heading {
  font-weight: normal !important;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-weight: normal !important;
}

a.sidebar-link.active {
  font-weight: normal !important;
}

.navbar .site-name {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.dropdown-wrapper .dropdown-title {
  font-weight: normal !important;
}

// 首页按钮
.home .hero .action-button {
  padding: 0.3rem 1rem !important;
}

.hero {
  p {
    text-align: center;
  }
}

.navbar .search-box input {
  background-color: var(--theme-ui-colors-themedInput-background, #f5f5f5);
  border: 0px;
  border-radius: 6px;
}

/*滚动条的宽度*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
::-webkit-scrollbar-track {
    // width: 6px;
    // background-color: #eee;
    // -webkit-border-radius: 2em;
    // -moz-border-radius: 2em;
    // border-radius: 2em;
    display: none
}

/*滚动条的设置*/
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/*滚动条移上去的背景*/
// ::-webkit-scrollbar-thumb:hover {
//     background-color: #aaa;
// }