// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
// $accentColor = #3eaf7c
// $textColor = #353535
// $borderColor = #eaecef
// $codeBgColor = #282c34

$accentColor = #764abc
$sidebarWidth = 18rem
$MQMobile = 768px
$textColor = #45526b
$codeBgColor = #eff4f9
